{% extends 'user/user.base.html.twig' %}

{% block body %}
    {{ form_start(form, {label_attr: {class: 'form'} }) }}
<div class="card card-login">
    <div class="card-header ">
        <h3 class="header text-center">{{ 'register'|trans }}</h3>
    </div>

    {# @TODO implement translation for error message, if branche is merged#}
        <div class="text-center error">
            {{ form_errors(form.username)}}
            {{ form_errors(form.email) }}
        </div>
    <div class="card-body ">
        <div class="input-group">
            <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
            </div>
            {{ form_widget(form.username, {attr: {class: 'form-control',
                'placeholder': 'login.username'|trans} }) }}
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
            </div>
            {{ form_widget(form.email, {attr: {class: 'form-control',
                'placeholder': 'register.mail'|trans} }) }}
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
            </div>
            {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control',
                'placeholder': 'login.password'|trans} })}}
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
            </div>
            {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control',
                'placeholder': 'register.repeat-password'|trans} }) }}
        </div>
        <br>
    </div>
    <div class="card-footer ">
        <button class="btn btn-warning btn-round btn-block mb-3" type="submit">{{ 'register'|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>


{% endblock %}




