
    <div class="card">
        <div class="card-header text-center">
            <h5>{{ 'dashboard.worldChampion'|trans }}</h5>
            <i style="color: #9A9A9A;">Bitte bis 29.06.2018 23:59:59 Tip abgeben</i>
        </div>
        <div class="card-body">
            {% for betId, form in forms %}
                <div class="extra-bet-wrapper">
                    {{ form_start(form, {'attr': {'class': 'form-inline  justify-content-center extra-bet-form'}}) }}
                    <div class=" mr-2">
                        {{ form_label( form.text ) }}
                    </div>
                    <div class=" mr-5">
                        {{ form_widget( form.text ) }}
                    </div>
                    <div class=" mr-5">
                        <button type="submit" class="btn btn-primary mb-2 extra-bet-submit" id="user_betting_saveBet"
                                name="user_extra_betting[saveExtraBet]">{{ 'dashboard.save'|trans }}
                        </button>
                    </div>
                    {{ form_row( form.type ) }}
                    <input type="hidden" name="user_extra_betting[betId]" value="{{ betId }}">
                    {{ form_end(form) }}
                </div>
            {% endfor %}
        </div>
    </div>