<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            {% for betId, form in forms %}
                <div class="extra-bet-wrapper">
                    {{ form_start(form, {'attr': {'class': 'form-inline  justify-content-center extra-bet-form'}}) }}
                    <div class=" mr-2">
                        {{ form_label( form.text ) }}
                    </div>
                    <div class=" mr-5">
                        {{ form_widget( form.text ) }}
                    </div>
                    <div class=" mr-5">
                        <button type="submit" class="btn btn-primary mb-2 extra-bet-submit" id="user_betting_saveBet"
                                name="user_extra_betting[saveExtraBet]">Save
                        </button>
                    </div>
                    {{ form_row( form.type ) }}
                    <input type="hidden" name="user_extra_betting[betId]" value="{{ betId }}">
                    {{ form_end(form) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>