
    <div class="card">
        <div class="card-header text-center">
            <h5>{{ 'dashboard.worldChampion'|trans }}</h5>
        </div>
        <div class="card-body">
            {% for betId, form in forms %}
                <div class="extra-bet-wrapper">
                    {{ form_start(form, {'attr': {'class': 'form-inline  justify-content-center extra-bet-form'}}) }}
                    <div class=" mr-2">
                        {{ form_label( form.text ) }}
                    </div>
                    <div class=" mr-5">
                        {{ form_widget( form.text ) }}
                    </div>
                    {{ form_row( form.type ) }}
                    {{ form_end(form) }}
                </div>
            {% endfor %}
        </div>
    </div>