<div class="col-md-6">
    <div class="card">
        <div class="card-header text-center">
            <h5>My Rankng</h5>
        </div>
        <div class="card-body">
            Position: {{ myScoreWithPositions.position }}<br>
            Punkte: {{ myScoreWithPositions.userScore.scoreSumme }}<br>
            Punkte: {{ myScoreWithPositions.userScore.scoreSumme }}<br>
            Count Richtiger Sieger: {{ myScoreWithPositions.userScore.countWinExact }}<br>
            Count RIchtiger Sieger + richtige Tordifferenz : {{ myScoreWithPositions.userScore.countWinScoreDiff }}<br>
            Count Richtiger Sieger + richtiges Ergebnis : {{ myScoreWithPositions.userScore.countWinTeam }}<br>
            Count Kein treffer: {{ myScoreWithPositions.userScore.countNoWinTeam }}<br>
        </div>
    </div>
</div>