<div class="col-md-6">
    <div class="card">
        <div class="card-header text-center">
            <h5>Top 3</h5>
        </div>
        {% for userScoreWithPosition in userScoreWithPositions %}
            <div class="card-body">
                Position: {{ userScoreWithPosition.position }}<br>
                Punkte: {{ userScoreWithPosition.userScore.scoreSumme }}<br>
                Punkte: {{ userScoreWithPosition.userScore.scoreSumme }}<br>
                Count Richtiger Sieger: {{ userScoreWithPosition.userScore.countWinExact }}<br>
                Count RIchtiger Sieger + richtige Tordifferenz : {{ userScoreWithPosition.userScore.countWinScoreDiff }}
                <br>
                Count Richtiger Sieger + richtiges Ergebnis : {{ userScoreWithPosition.userScore.countWinTeam }}<br>
                Count Kein treffer: {{ userScoreWithPosition.userScore.countNoWinTeam }}<br>
            </div>
            <br>
        {% endfor %}
    </div>
</div>