{% extends 'base.html.twig' %}


{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h5>Ranking-Liste</h5>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="">
                                <tr>
                                    <th>
                                        Position
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        r. Ergebnis
                                    </th>
                                    <th>
                                        r. Tordifferenz
                                    </th>
                                    <th>
                                        r. Sieger
                                    </th>
                                    <th>
                                        Kein treffer
                                    </th>
                                    <th class="text-left">
                                        Punkte
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for userScoreWithPosition in userScoreWithPositions %}
                                    <tr{% if myUserId == userScoreWithPosition.userScore.user.id %} class="table-secondary"{% endif %}>
                                        <td>
                                            {{ userScoreWithPosition.position }}
                                        </td>
                                        <td>
                                            {% if myUserId == userScoreWithPosition.userScore.user.id %}
                                                {{ userScoreWithPosition.userScore.user.username }}
                                            {% else %}
                                                <a href="{{ path('game_past_games_by_users', {'userId': userScoreWithPosition.userScore.user.id}) }}">
                                                    {{ userScoreWithPosition.userScore.user.username }}
                                                </a>
                                            {% endif %}

                                        </td>
                                        <td>
                                            {{ userScoreWithPosition.userScore.countWinExact }}
                                        </td>
                                        <td>
                                            {{ userScoreWithPosition.userScore.countWinScoreDiff }}
                                        </td>
                                        <td>
                                            {{ userScoreWithPosition.userScore.countWinTeam }}
                                        </td>
                                        <td>
                                            {{ userScoreWithPosition.userScore.countNoWinTeam }}
                                        </td>
                                        <td class="text-left">
                                            {{ userScoreWithPosition.userScore.scoreSumme }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}