<div class="card card-timeline card-plain">
    <div class="card-body">

        <ul class="timeline timeline-simple">
            {% for singleGame in gameBetResult %}
                <li class="timeline-inverted">
                    <div class="timeline-badge danger">
                        <i class="football-icon fa fa-futbol"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="badge badge-pill badge-danger">{{ singleGame.game.date|date("d.m.Y G:i") }}</span>
                        </div>
                        <div class="timeline-body betting-wrapper-dashboard">
                            <div class="row ">
                                <div class="col-md-6">
                                    <img src="{{ singleGame.game.teamFirst.img }}" alt="" class=""
                                         style="width: 200px; height: 100px">
                                    <h6 class="text-center">
                                        {{ singleGame.game.teamFirst.name }}
                                    </h6>
                                    <hr>
                                    <input type="number" min="0" class="text-center firstGame-fake-input"
                                            {% if singleGame.bet.firstTeamResult matches '/^\\d+$/' %}
                                                value="{{ singleGame.bet.firstTeamResult }}"
                                            {% else %}
                                                placeholder="{{ singleGame.game.teamFirst.name }}"
                                            {% endif %}
                                    >
                                </div>
                                <div class="col-md-6">
                                    <img src="{{ singleGame.game.teamSecond.img }}" alt="" class=""
                                         style="width: 200px; height: 100px">
                                    <h6 class="text-center">
                                        {{ singleGame.game.teamSecond.name }}
                                    </h6>
                                    <hr>
                                    <input type="number" min="0" class="text-center secondGame-fake-input"
                                            {% if singleGame.bet.secondTeamResult matches '/^\\d+$/' %}
                                                value="{{ singleGame.bet.secondTeamResult }}"
                                            {% else %}
                                                placeholder="{{ singleGame.game.teamSecond.name }}"
                                            {% endif %}
                                    >
                                </div>
                                <form name="user_betting" method="post" action="/savebet" class="form-inline user-betting-form-dashboard">
                                    <input type="hidden" name="user_betting[firstTeamResult]" class="firstGame-hidden-input">
                                    <input type="hidden" name="user_betting[secondTeamResult]" class="secondGame-hidden-input">
                                    <input type="hidden" name="user_betting[gameId]" value="{{ singleGame.game.id }}">
                                </form>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary col-md-12 save-bet-button-dashboard"
                                            id="user_betting_saveBet" name="user_betting[saveExtraBet]">Save
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>


    </div>
</div>